<% if (!user) { %>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
<% } else { %>
  <form id="logout-form" action="/logout?_method=DELETE" method="POST">
    <div id="login-username"><%= user.email %></div>
    <input type="submit" value="Logout">
  </form>
<% } %>
