<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
  <form id="login-form" action="/login" method="POST">
    <input id="username" name="username" type="text" placeholder="User name...">
    <input type="submit" text="Login">
  </form>
  <div id="login-username"><%= username %></div>
</body>
</html>
