<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <form action="/login" method="POST">
    <input id="username" name="username" type="text" placeholder="User name...">
    <input type="submit" text="Login">
  </form>
  <div class="login-details"><%= username %></div>
</body>
</html>
