<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <div class="login">
      <form id="login-form" action="/login" method="POST">
        <label for="email">Email address:</label>
        <div><input id="email" type="email" name="email" placeholder="name@example.com" style="width: 300px"></div>
        <label for="password">Password:</label>
        <div><input id="password" type="password" name="password" placeholder="example" style="width: 300px"></div>
        <input type="submit" value="Login">
      </form>
      <a class="link" href="/register">Don't have an account? Go here to register</a>
    </div>
  </body>
</html>
