<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_header %>
    <form action="/register" method="POST" style="margin:50px;">
      <label for="email">Email address:</label>
      <div><input id="email" type="email" name="email" placeholder="name@example.com" style="width: 300px"></div>
      <label for="password">Password:</label>
      <div><input id="password" type="password" name="password" placeholder="example" style="width: 300px"></div>
      <input type="submit" value="Create Account">
    </form>
  </body>
</html>
