<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
  <% if (url) { %>
    <title>TinyApp - <%= url.url %></title>
  <% } %>
</head>
<body>
  <% include ./partials/_header %>
  <% if (url) { %><!-- if url is not undefined, then we assume that the short URL is valid -->
    <% if (user && user.id === url.userID) { %><!-- if user exists, we assume user is logged in. If user.id and url.userID are the same, then the user owns the URL -->
      <%= url.url %> - <%= shortURL %>
      <form action="/urls/<%= shortURL %>" method="POST">
        <label for="newURL">Enter a new URL:</label>
        <input id="newURL" type="text" name="newURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Update">
      </form>
    <% } else { %>
      <div class="errormessage">This link does not belong to you!</div>
    <% } %>
  <% } else { %>
    <div class="errormessage">That short URL doesn't seem to exist!</div>
  <% } %>
</body>
</html>
