<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
</head>
<body>
  <% include ./partials/_header %>
  <% if (user) { %>
    <% for (let url in urls) { %>
      <%if (urls.hasOwnProperty(url)) { %>
        <form method="POST" action="/urls/<%= url %>/delete">
          <div class="grid--2-columns">
            <div class="grid__cell">URL: <%= urls[url].url %> shortened: <%= url %></div>
            <div class="grid__cell"><a href="/urls/<%= url %>">Edit</a></div>
            <div class="grid__cell"><input type="submit" value="Delete"></div>
          </div>
        </form>
      <% } %>
    <% } %>
  <% } else { %>
    <p>Please Log in or Register using the links above</p>
  <% } %>
  <p><a href="/urls/new">Create a new short URL</a></p>
</body>
</html>
